/.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
docker-compose.yml

/public/media/cards/answers/*
!/public/media/cards/answers/.gitignore
/public/media/cards/questions/*
!/public/media/cards/questions/.gitignore
/public/media/memes/answers/*
!/public/media/memes/answers/.gitignore
/public/media/memes/questions/*
!/public/media/memes/questions/.gitignore
/logs